section.section.archive.archive--articles
    div.container
        ul.archive__list
            each item in archive.children   
                li.archive__item
                    a.archive__link(href= item.link)

                        figure.archive__image(class=`${item.thumbnail ? '': 'archive__image--empty'}`)
                            if item.thumbnailSvg
                                div.archive__image--svg !{item.thumbnailSvg}
                            else if item.thumbnail
                                img(src=item.thumbnail)
                    
                        span.archive__info
                            if item.date
                                span.archive__date
                                    span.archive__day= formatDate(item.created, 'dd')
                                    span.archive__month= formatDate(item.created, 'MM')
                                    span.archive__year= formatDate(item.created, 'yyyy')
                            h4.archive__title= item.title
                            if item.excerpt    
                                p.archive__excerpt
                                    | !{item.excerpt}  
                    if item.tags
                        ul.archive__tags.tag__list  
                            each tag in item.tags
                                li.tag__item
                                    a.tag__link(href= tag.link, tabindex=-1)
                                        span.tag__text= tag.name