each archive in archives   
    if archive.type == 'sections'
        include archive-section.pug 
    else          
        section.section.archive(class=`archive--${archive.type}`)
            div.container
                ul.archive__list
                    each item in archive.children   
                        li.archive__item
                            a.archive__link(href= item.link)
                                figure.archive__image(class=`${item.thumbnail ? '': 'archive__image--empty'}`)
                                    if item.thumbnail
                                        img(src=item.thumbnail)
                                span.archive__info
                                    if item.date
                                        span.archive__date
                                            span.archive__day= formatDate(item.created, 'dd')
                                            span.archive__month= formatDate(item.created, 'MM')
                                            span.archive__year= formatDate(item.created, 'yyyy')
                                    span.archive__text= item.title
                            if item.tags
                                ul.archive__tags.tag__list  
                                    each tag in item.tags
                                        li.tag__item
                                            a.tag__link(href= tag.link)
                                                span.tag__text= tag.name