main.main.content(class=`${meta.type ? 'content--'+ meta.type : ''}`)
    section.section
        div.container
            if showContentImage
                h1=title
                figure
                    img(src=meta.image)
                | !{removeTitle(content)}  
            else 
                | !{content}  

    if archives.length
        include archive.pug
        
    if tags.length
        include tags.pug
