main.main.content(class=`${meta.type ? 'content--'+ meta.type : ''}`)
    section.section(class=`${meta.sectionType ? 'section--'+meta.sectionType : ''}`,style=`${background.section}`)
        div.container
            if subtitle
                h6=subtitle
            if showContentImage
                h1=title
                figure
                    img(src=meta.image)
                | !{removeTitle(content)}
            else if meta.sectionType == 'intro'
                h1
                    span=title
                | !{spanToParagraph(removeTitle(content))}
            else 
                | !{content}  


    if has.archive
        include archive.pug
        
    if tags.length
        include tags.pug
