main.main.content
    section.section
        div.container
            if meta.image   
                h1=title
                figure
                    img(src=meta.image)
                | !{removeTitle(content)}  
            else 
            | !{content}  

    if children.length
        section.section.archive(class=`archive--${meta.type}`)
            div.container
                ul.archive__list
                    each item in children
                        li.archive__item
                            a.archive__link(href= item.link)
                                figure.archive__image(class=`${item.meta.image ? '': 'archive__image--empty'}`)
                                    if item.meta.image
                                        img(src=item.meta.image)
                                span.archive__date
                                    span.archive__day= formatDate(item.created, 'dd')
                                    span.archive__month= formatDate(item.created, 'MM')
                                    span.archive__year= formatDate(item.created, 'yyyy')
                                span.archive__text= item.title
                            
                            if item.meta.tags
                                ul.archive__tags.tag__list  
                                    each tag in item.meta.tags
                                        li.tag__item
                                            a.tag__link(href=`/tag/${meta.type}/${tag}`)
                                                span.tag__text= tag
    if tags.length
        section.section.tags
            ul.tag__list  
                each tag in tags
                    li.tag__item
                        a.tag__link(href=`/tag/${tag.parent}/${tag.name}`)
                            span.tag__text= tag.name