footer.footer 
    if langMenu.length > 1
        ul.language
            each language in langMenu 
                li.language__item(class= `${language.active ? 'language__item--active' : ''}`)
                    a.language__link(href=`${language.link}`,data-title=`${language.title}`,data-code=`${language.code}`,data-name=`${language.name}`)
                        span.language__text=language.code

    if menu 
        include navigation.pug 

    button.color-mode(onClick="switchMode()") switch



if project.script
    if typeof project.script === "string"
        script(lang="text/javascript", src=`${project.script}`)        
    else 
        each script in project.script
            script(lang="text/javascript", src=`${script}`)

script
    include script/colorMode.js   
    include script/loadWebComponents.js

    if has.languages
        include script/detectLanguage.js 
    if has.colors
        include script/findColors.js
    if has.header
        include script/stickyNav.js
    if has.table
        include script/wrapTables.js
    if has.urlToken
        include script/linkify.js




   


