footer.footer 
    .footer__container
        .footer__header 
            if langMenu.length > 1
                ul.language
                    each language in langMenu 
                        li.language__item(class= `${language.active ? 'language__item--active' : ''}`)
                            a.language__link(href=`${language.link}`,data-title=`${language.title}`,data-code=`${language.code}`,data-name=`${language.name}`)
                                span.language__text=language.code
            
            sil-color-mode

        .footer__main
            include logo.pug 

            if menu 
                include navigation.pug 





        .footer__footer        
            if config.copyright
                div.copyright
                    | !{config.copyright}
            if socials 
                ul.socials 
                    each social in socials 
                        li.socials__item
                            a.socials__link(href=`${social.link}`,aria-label=`${social.title}`,title=`${social.title}`)
                                |  <sil-icon-#{social.title}></sil-icon-#{social.title}>

if project.script
    if typeof project.script === "string"
        script(lang="text/javascript", src=`${project.script}`)        
    else 
        each script in project.script
            script(lang="text/javascript", src=`${script}`)
