footer.footer 
    if menu 
        nav.navigation.center
            ul.navigation__list
                each item in menu
                    li.navigation__item(class= `${item.current ? 'navigation__item--current' : ''}${item.isParent && !item.current? 'navigation__item--parent' : ''}`)
                        a.navigation__link(href= item.link)
                            span.navigation__text= item.name



    if langMenu.length > 1
        ul.language
            each language in langMenu 
                li.language__item(class= `${language.active ? 'language__item--active' : ''}`)
                    a.language__link(href=`${language.link}`)
                        span.language__text=language.name

if project.script
    if typeof project.script === "string"
        script(lang="text/javascript", src=`${project.script}`)        
    else 
        each script in project.script
            script(lang="text/javascript", src=`${script}`)

script

    include script/colorMode.js
    include script/stickyNav.js




   


