.toolbar
    button.color-mode(onClick="switchMode()") switch

if menu.length > 0
    input.navigation__input(type="checkbox" id="navToggleControl" aria-labelledBy="navToggle")
    label.navigation__toggle(for="navToggleControl" id="navToggle" tabindex="0")
        span
    div.navigation__background

header.header.header--sticky
    if project
    if project.logoData
        a.logo(href=`${homeLink}`, class= `${project.logoData ? 'logo--image-only' : ''}`, aria-label=`${project.title}`)
            | !{project.logoData}
    else if project.logo
        a.logo(href=`${homeLink}`)=project.title
            img(src=project.logo)
    else if project.title
        a.logo(href=`${homeLink}`)=project.title

    if menu.length > 0
    nav.navigation.center
        ul.navigation__list
            each item in menu
                li.navigation__item(class= `${item.current ? 'navigation__item--current' : ''}${item.isParent && !item.current ? 'navigation__item--parent' : ''}`)
                    a.navigation__link(href= item.link)
                        span.navigation__text= item.name