.toolbar
    button.color-mode(onClick="switchMode()") switch

if menu.length > 0
    input.navigation__input(type="checkbox" id="navToggleControl" aria-labelledBy="navToggle")
    label.navigation__toggle(for="navToggleControl" id="navToggle" tabindex="0")
        span
    div.navigation__background

    header.header.header--sticky
        div.header__container
            if project
                if logo
                    if logo.data
                        a.logo(href=`${homeLink}`, class= `${logo.data ? 'logo--image-only' : ''}`, aria-label=`${project.title}`,tabindex=0)
                            | !{logo.data}
                    else if logo.relativePath
                        a.logo(href=`${homeLink}`,tabindex=0)
                            img(src=logo.relativePath)
                else if project.title
                    a.logo(href=`${homeLink}`,tabindex=0)
                        span.logo__text=project.title

            if menu.length > 0
                include navigation.pug 
            
        if has.shop
            Basket