head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if meta.date
        meta(name="updated",content=formatDate(meta.date,'yy-MM-dd'))


    if type
        meta(name="type",content=`${type}`)

    if meta.description
        meta(name="description",content=`${meta.description}`)
    else if project.description
        meta(name="description",content=`${project.description}`)

    if meta.title && project.title
        title=`${meta.title} | ${project.title}`
    else if project.title
        title=project.title
    else if meta.title
        title=meta.title
    else 
        title=title

    if favicons   
        if favicons.light
            link(rel="icon",type="image/x-icon", href=`/${favicons.light}`, media="(prefers-color-scheme: light)")
        if favicons.dark
            link(rel="icon",type="image/x-icon", href=`/${favicons.dark}`, media="(prefers-color-scheme: dark)")
        else if favicons.default
            link(rel="icon",type="image/x-icon", href=`/${favicons.default}`)

    if style.sheet
        style
            | !{style.sheet}
    else if style.path
        div kut
        link(href=style.path, rel="stylesheet" type="text/css")

    //- if style.page 
    //-     link(href=style.page, rel="stylesheet" type="text/css")
        
    if style.add 
        link(href=style.add, rel="stylesheet" type="text/css")

    script(type="module" src="https://load.ui.sil.mt/color-mode.js")