doctype html
html(lang="en")
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    if meta.date
      meta(name="updated",content=formatDate(meta.date,'yy-MM-dd'))

    if meta.title && project.title
      title=`${meta.title} | ${project.title}`
    else if project.title
      title=project.title
    else if meta.title
      title=meta.title
    else 
      title=title
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap", rel="stylesheet")
    
    if style.sheet
      style
          | !{style.sheet}
    else if style.path
       link(href=style.path, rel="stylesheet", type="text/css")
    if style.add 
       link(href=style.add, rel="stylesheet", type="text/css")

     
  body
    .toolbar
      button.color-mode(onClick="switchMode()") switch

    if menu.length > 0
      input.navigation-input(type="checkbox",id="nav-toggle")
      label.navigation-toggle(for="nav-toggle")
        span
      div.navigation-background

    header.header.header--sticky
      if project
        if project.logoData
          a.logo(href="/")
           | !{project.logoData}
        else if project.logo
          a.logo(href="/")
            img(src=project.logo)
        else if project.title
          a.logo(href="/")=project.title

      if menu.length > 0
        nav.navigation.center
          ul.navigation__list
            each item in menu
              li.navigation__item
                a.navigation__link(href= item.link)
                  span.navigation__text= item.name


    main.content
      section.section
        div.container
          h1=title
          if meta.image
            figure
              img(src=meta.image)
          | !{removeTitle(content)}           

      if children.length
        section.section.archive(class=`archive--${meta.type}`)
          div.container
            ul.archive__list
              each item in children
                li.archive__item
                  if item.meta.image
                    figure.archive__image
                      img(src=item.meta.image)
                  a.archive__link(href= item.link)
                    span.archive__date
                      span.archive__day= formatDate(item.created, 'dd')
                      span.archive__month= formatDate(item.created, 'MM')
                      span.archive__year= formatDate(item.created, 'yyyy')
                    span.archive__text= item.title
                  if item.meta.tags
                    ul.archive__tags.tag__list  
                      each tag in item.meta.tags
                        li.tag__item
                          span.tag__text= tag
    footer.footer 
      if menu 
        nav.navigation.center
          ul.navigation__list
            each item in menu
              li.navigation__item
                a.navigation__link(href= item.link)
                  span.navigation__text= item.name


    script. 
      const isDarkMode = window.matchMedia('prefers-color-scheme: dark').matches;
      let localMode = isDarkMode ? 'dark' : 'light';

      function init(){
        localMode = localStorage.getItem('colorMode');
        setCurrentMode(localMode ? localMode : (isDarkMode ? 'dark' : 'light'));        
      }

      function setCurrentMode(mode) {
        // Set current variable
        localMode = mode;
        // Set local Storage
        const colorMode = { 'mode': localMode };

        localStorage.setItem('colorMode',localMode);
        // Set body attribute
        document.body.setAttribute('color-mode',mode);
      }
      
      function switchMode(){
        console.log(`switching to ${localMode ? 'darkMode' : 'lightMode'}`);
        if(localMode == 'dark') setCurrentMode('light');
        else setCurrentMode('dark');
      }

      init();