doctype html
html(lang="en")
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title=title
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap", rel="stylesheet")
    style
        | !{style}

  body
    .tools 
      button(onClick="switchMode()") switch
    section.content
     | !{content}
    footer.menu 
     | !{menu}

    script. 
      const isDarkMode = window.matchMedia('prefers-color-scheme: dark').matches;
      let localMode = isDarkMode ? 'dark' : 'light';

      function init(){
        localMode = localStorage.getItem('colorMode');
        setCurrentMode(localMode ? localMode : (isDarkMode ? 'dark' : 'light'));        
      }

      function setCurrentMode(mode) {
        // Set current variable
        localMode = mode;
        // Set local Storage
        const colorMode = { 'mode': localMode };

        localStorage.setItem('colorMode',localMode);
        // Set body attribute
        document.body.setAttribute('color-mode',mode);
      }
      
      function switchMode(){
        console.log(`switching to ${localMode ? 'darkMode' : 'lightMode'}`);
        if(localMode == 'dark') setCurrentMode('light');
        else setCurrentMode('dark');
      }

      init();